body {
    background-color: #17242C;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

.song-list i {
    margin-top: 7px;
}

.song-list a, .song-list, .song-list .btn-link {
    color: #fff;
}

.song-details {
    background-color: #222F36;
    border-radius: 5px;
    padding: 5px;
}

.genre-list li {
    margin-right: 5px;
}

.mixed-vinyl-container {
    background: rgb(23,36,44);
    background: linear-gradient(180deg, rgba(23,36,44,1) 1%, rgba(34,47,54,1) 97%);
    border-radius: 5px;
    display: block;
    color: #fff;
    text-decoration: none;
}
.mixed-vinyl-container:hover {
    color: #fff;
}

.pagination {
    --bs-pagination-bg: rgb(23,36,44);
    --bs-pagination-color: #bbb;
    --bs-pagination-disabled-color: #ddd;
    --bs-pagination-disabled-bg: none;
    --bs-pagination-disabled-border-color: #666;
    --bs-pagination-active-border-color: #666;
    --bs-pagination-border-color: none;
    --bs-pagination-active-bg: rgba(34,47,54,1);
}

.toast {
    --bs-toast-header-bg: #17242C;
    --bs-toast-bg: #3691d5;
}
