<div{{ attributes }}>
    <span>{{ mix.votes }}</span> votes
    {% if hasVoted %}
        {% embed '_toast.html.twig' %}
            {% block toast_body %}
                Thanks for voting!
            {% endblock %}
        {% endembed %}
    {% else %}
        <button
            class="btn btn-outline-primary"
            data-action="live#action"
            data-action-name="vote(direction=up)"
            data-loading="addAttribute(disabled)"
        ><span class="fa fa-thumbs-up"></span></button>
        <button
            class="btn btn-outline-primary"
            data-action="live#action"
            data-action-name="vote(direction=down)"
            data-loading="addAttribute(disabled)"
        ><span class="fa fa-thumbs-down"></span></button>
    {% endif %}
</div>
