<div class="song-list">
   <div class="d-flex mb-3">
       <a href="#">
           <i class="fas fa-play me-3"></i>
       </a>
       <span class="song-details">{{ track.songTitle }} - {{ track.artistName }}</span>
       {% if withControls|default(false) %}
       <a href="#">
           <i class="fas fa-bars mx-3"></i>
       </a>
       <a href="#">
           <i class="fas fa-times"></i>
       </a>
       {% endif %}
   </div>
</div>
